.Cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
  }
  
  .Card{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    border-radius: .5rem;
  }
  
  
  .imgCard{
    border-radius: .5rem;
  }
  
  .nameCard{
    position: absolute;
    display: flex;
    left: 3%;
    bottom: 15%;
    color: white;
    background-color: black;
    opacity: 60%;
  }
  
  .infoCard{
    width:100%;
    height: min-content;
    padding-bottom: .5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  
  h2{
    margin: 0;
  }